<div class="alert bg-green-200 dark:bg-green-400 mx-auto sm:px-6 lg:px-6 py-5 px-6 mb-3 text-base text-g-700 flex items-center w-3/4 alert-dismissible fade show" role="alert">
	<strong class="mr-1">Success!</strong>
		{{ message }}
	<button type="button" class="btn-close box-content w-4 h-4 p-1 ml-auto text-green-900 border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-green-900 hover:opacity-75 hover:no-underline" data-bs-dismiss="alert" aria-label="Close"></button>
</div>