<nav class="w-full border-b">
	<div class="w-full container mx-auto flex flex-col sm:flex-row items-center justify-center text-sm font-medium uppercase py-1">
		{% for category in categories %}
			<a href="{{ path('app_category', {'slug': category.slug}) }}" class="hover:bg-violet-300 rounded-lg py-1 px-2 mx-2"> 
				{{ category.name }}
			</a>
		{% endfor %}
	</div>
</nav>
