<footer class="relative px-4 py-4 flex items-center text-gray-600">
	<div class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-6">
		<div class="flex justify-center items-center lg:justify-between p-6">
			<span>© 2023 Design by - Filip Jarek</span>
		</div>
	</div>
</footer>