<header class="w-full container mx-auto">
	<div class="flex flex-col items-center py-8">
		<a class="font-bold bg-clip-padding bg-gradient-to-r from-pink-500 to-violet-500 uppercase text-gray-50 text-5xl tracking-wide" href="{{ path('app_home') }}">
			Blog
		</a>
		<p class="text-lg text-gray-600">
            Lorem Ipsum Dolor Sit Amet
        </p>
	</div>
</header>


