{% if pageCount > 1 %}
    <div class="inline-block justify-center">
       
        {% if previous is defined %}
            <span class="text-gray-800 hover:text-violet-600 font-bold px-20 text-lg uppercase hover:underline">
                <a rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">Previous Page</a>
            </span>
        {% endif %}

        {% if next is defined %}
            <span class="text-gray-800 hover:text-violet-600 font-bold px-20 text-lg uppercase hover:underline">
                <a rel="next" href="{{ path(route, query|merge({(pageParameterName): next})) }}">Next Page</a>
            </span>
        {% endif %}

    </div>    
{% endif %}
